<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
  <form action="/qna" method="post">
    <div class="form-group">
      <p>
      <label for="name">상호명</label>
      <input type="text" id="corpName" name="corpName">
      </p>
      <p>
      <label for="name">이름</label>
      <input type="text" id="name" name="name">
      </p>
      <p>
      <label for="name">이메일</label>
      <input type="text" id="email" name="email">
      </p>
    </div>

    <button type="submit">등록</button>
  </form>
</div> <!-- /container -->
</body>
</html>