<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
  <form action="/qna" method="post">
    <div class="form-group">
      <p>
      <label for="name">상호명</label>
      <input type="text" id="corpName" name="corpName">
      </p>
      <p>
      <label for="name">이름</label>
      <input type="text" id="name" name="name">
      </p>
      <p>
      <label for="name">이메일</label>
      <input type="text" id="email" name="email">
      </p>
      <p>
        <label for="name">연락처</label>
        <input type="text" id="contactNum" name="contactNum">
      </p>
      <p>
        <label for="name">구분</label>
        <select name="category" id="category">
          <option value="견적요청">견적요청</option>
          <option value="기타문의">기타문의</option>
        </select>
      </p>
      <p>
        <label for="name">제목</label>
        <input type="text" id="subject" name="subject">
      </p>
      <p>
        <label for="name">내용</label>
        <input type="text" id="object" name="object">
      </p>

    </div>

    <button type="submit">등록</button>
  </form>
</div> <!-- /container -->
</body>
</html>