<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
  <div>
    <table>
      <thead>
      <tr>
        <th>상호명</th>
        <th>이름</th>
        <th>이메일</th>
        <th>연락처</th>
        <th>구분</th>
        <th>제목</th>
        <th>내용</th>

      </tr>
      </thead>
      <tbody>
      <tr th:each="q : ${Qnas}">
        <td th:text="${q.corpName}"></td>
        <td th:text="${q.name}"></td>
        <td th:text="${q.email}"></td>
        <td th:text="${q.contactNum}"></td>
        <td th:text="${q.category}"></td>
        <td th:text="${q.subject}"></td>
        <td th:text="${q.object}"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div> <!-- /container -->
</body>
</html>